/* Henok Enyew Portfolio */

:root {
  --white-mode-color: #333;
  --primary-color: #7048e8;
  --primary-color--dark: #5f3dc4;
  --primary-color--light: #845ef7;
  --darkmode-background: #160e2e;
  --darkmode-color: #fafafa;
}

/*
Spacing 
    2/4/8/12/16/24/32/48/64/80/96/128
Font sizes
    10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
Font Weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--white-mode-color);
}
/* General */
section {
  transition: all 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.container {
  max-width: 96rem;
  margin: 4rem auto;
}

/* Navigation */
.nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e2dafa;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.nav-logo {
  width: 14.8rem;
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 2.4rem;
  font-size: 1.8rem;
  transition: all 0.4s;
}

.nav-btn:link {
  text-decoration: none;
  color: var(--white-mode-color);
  transition: all 0.4s;
}

.nav-btn:hover {
  color: var(--primary-color);
  padding-bottom: 0.5px;
  border-bottom: 1px solid var(--primary-color);
  transform: scale(1.15);
}

.nav-btn-active {
  color: var(--primary-color) !important;
  padding-bottom: 0.5px;
  border-bottom: 1px solid var(--primary-color) !important;
  transform: scale(1.15);
}

.hidden {
  display: none !important;
}
.open {
  transform: translateX(0) !important;
}

.mobile-nav-btn {
  border: none;
  background-color: transparent;
  fill: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;

  display: none;
}
.mobile-nav-btn:hover {
  fill: var(--primary-color--dark);
  transform: scale(1.15);
}
/* .close-btn {
  display: none;
} */
/* hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 0;
  width: 100%;
  height: 100vh;
  margin-top: 3.2rem;
  background-color: #e2dafa;
  overflow: hidden;
}

/* .weavy-hero {
  position: absolute;
  bottom: 0;
  left: 0;
} */

.hero:before {
  content: "";
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  clip-path: polygon(0 60%, 100% 100%, 0 100%);
  /* clip-path: polygon(100% 60%, 0 100%, 100% 100%); */
}

.hero-illustration svg {
  width: 48rem;
  animation: float 2.5s infinite alternate ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
.hero-text .hi-there {
  font-size: 2.4rem;
}

.hero-text .greeting {
  margin-top: 1.2rem;
  font-size: 5.2rem;
  font-weight: 700;
}

.hero-text .greeting span {
  color: var(--primary-color);
}

.hero-text .career {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 1rem;
}

.hero-text .career span {
  color: var(--primary-color--light);
  position: relative;
}

/* .hero-text .career span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e2dafa;
  border-left: 2px solid var(--primary-color);
   animation: type 4s steps(15) infinite; 
  padding-left: 1px;
} */

@keyframes type {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.hero-text .detail {
  margin-top: 2.4rem;
  font-size: 1.5rem;
  max-width: 45rem;
  line-height: 1.2;
}

.hero a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white-mode-color);
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.3s;
  padding: 1rem 2.4rem;
  border: solid 1px var(--primary-color);
  border-radius: 8px;
}

.hero-btn {
  background-color: var(--primary-color);
  margin-left: 2rem;
  color: #fff !important;
}

.hero a:hover {
  color: #fff;
  background-color: var(--primary-color--dark);
  transform: scale(1.1);
}

.tech-stack {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 4.8rem;
}

.tech-stack-icons {
  display: flex;
  gap: 1.2rem;
}
.tech-stack-icons svg {
  width: 2.8rem;
}

.hero-text {
  animation: slideLeft forwards 1s;
}

/* .hero-illustration {
  animation: slideRight forwards 1s;
} */

@keyframes slideLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(50%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
/* Social medias  */
.social-medias {
  opacity: 0.8;
  position: fixed;
  top: 50%;
  border-radius: 0.4rem;
  transform: translateY(-50%);
  left: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--darkmode-background);
}

.social-medias a svg {
  width: 2.5rem;
}

/* About section */
.about {
  padding: 2rem;
}
.about-header,
.projects-header,
.cta-header {
  font-size: 2.4rem;
  color: var(--primary-color);
  text-decoration: solid var(--primary-color);
  margin-bottom: 4.8rem;
}
.basic-details {
  display: flex;
  flex-direction: column;
}

.basic-details div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 0.4rem;
}

.basic-details div div {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #e2dafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-title {
  font-size: 1.6rem;
  margin-left: -1.4rem;
}

.basic-text {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.brief-bio {
  font-size: 1.4rem;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  line-height: 1.3;
}
.educational-detail {
  font-size: 1.4rem;
  line-height: 1.3;
}

.educational-detail span {
  color: var(--primary-color);
  font-weight: 600;
}

.about-detail {
  display: flex;
  align-items: flex-end;
}

.border-left {
  border-left: 2px solid var(--primary-color);
  padding-left: 1.6rem;
}

.henok-photo {
  width: 20rem;
  transform: skew(-2deg, 2deg);
}

/* Projects section */
.projects {
  margin-top: 2.8rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.project-img {
  width: 48rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-description a {
  /* display: flex; */
  align-items: center;
  /* justify-content: space-around; */
  padding: 0.8rem 2rem;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: 2px solid var(--primary-color);
  color: var(--darkmode-background);
  margin-left: 2.4rem;
  transition: all 0.3s;
}

.project-description a:hover {
  background-color: var(--primary-color);
}

.project-description a svg {
  width: 2.5rem;
  transform: translateY(30%);
}

.project-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: var(--primary-color);
}
.project-detail {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.project-detail span {
  font-size: 1.8rem;
  display: block;
  margin: 1rem 5.2rem;
  font-weight: 500;
  color: #61dafb;
}

/* CTA */
.cta {
  margin-top: 12.8rem;
}
.form-container {
  background-color: var(--darkmode-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 4.8rem; */
  padding: 2rem 4rem;
  border-radius: 1rem;
}

.form-container img {
  width: 40rem;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

form input,
form textarea {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: #ffffff49;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
form input::placeholder,
form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Rubik", sans-serif;
}

form input:focus,
form textarea:focus {
  outline: 1px solid #bbb;
}

.btn-submit {
  align-self: start;
  background-color: #845ef77a;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-submit:hover {
  transform: scale(1.15);
}

/* Footer */
footer {
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.weavy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  fill: var(--darkmode-background);
}

.footer-content {
  position: relative;
  bottom: -60%;
  left: 30%;
  /* transform: translateX(-50%); */
  color: #aaa;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-socials {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-left: 7.2rem;
}

.footer-socials a svg {
  transition: all 0.3s;
}
.footer-socials a svg:hover {
  fill: #f3f3f3;
  transform: scale(1.2);
}
/* 
Spacing 
    2/4/8/12/16/24/32/48/64/80/96/128
Font sizes
    10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
 */
